/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  outline: none;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
}

.header {
  background: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid #1e1b15;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.nav-button {
  display: flex;
  color: #1e1b15;
  margin: 0 40px 0 0;
  padding: 5px;
  background: transparent;
  font-size: 15px;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  border: none;
  outline: none;
  border: 1px solid transparent;
}

.nav-button:hover {
  color: #464957;
  border: 1px solid #1e1b15;
}

.login-form-container {
  margin: 0 auto 0 auto;
  padding: 32px;
  height: 540px;
  width: 450px;
  position: fixed;
  bottom: 20%;
  right: 30%;
  left: 30%;
  top: 10%;
  opacity: 0.96;
  box-shadow: 3px 3px 10px 5px #000;
  display: flex;
  justify-content: center;
  background: white;
  box-sizing: border-box;
  color: #1e1b15;
  font-size: 16px;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;

}


.login-input {
  margin: 0 auto 10px auto;
  height: 60px;
  width: 380px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: white;
  color: #c7c69f;
  padding: 10px 35px 10px 10px;
  border: 1px solid #363946;
  border-radius: 2px;
  font-family: inherit;
}

.errors {
  color: #eeba30;
  font-family: inherit;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}

.form-button {
  width: 100%;
  height: 40px;
  margin: 20px auto 10px auto;
  background: #eeba30;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #c7c69f;
  font-family: inherit;
}

.redirect-button {
  margin: 30px 0px auto 0px;
  height: 35px;
  width: 80px;
  color: #eeba30;
  border: 1px solid #eeba30;
  display: flex;
  justify-content: center;
  background-color: transparent;
  font-size: 14px;
  border-radius: 4px;
  font-family: inherit;
}

.redirect-statement {
  padding-top: 7px;
  color: #c7c69f;
  width: 200px;
  margin: 30px 5px auto 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-family: inherit;
}

.redirect-box {
  border-top: 1px solid #c7c69f;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-form {
  margin-top: 15px;
}

.title {
  font-size: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: inherit;
}

.login-signup-statement {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: inherit;
}

.home-image {
  width: 100%;
  height: 580px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20px;
}

.dwelling-image {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20px;
}

.dwelling-page {
  display: flex;
  flex-direction: column;
}

.dwelling-info {
  display: flex;
  justify-content: flex-start;
}
.dwelling-details {
  display: flex;
  flex-direction: column;
  width: 65%;
  min-width: 600px;
  justify-content: center;
  flex-wrap: wrap;
}

.dwelling-details-info {
  padding-left: 155px;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: 30px;
  padding: 20px 0 20px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey
}

.top-dwelling-info {
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-host-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 0 40px;
  color: grey;
}

.dwelling-title {
  font-size: 30px;
}

.location-and-ratings {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  color: grey;
}

.types {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: grey;
}

.type {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.about-this-listing {
  padding: 40px 0 40px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  flex: wrap;
  width: 100%;
}

.the-magic {
  padding-bottom: 20px;
  font-size: 19px;
}

.magic-content {
  display: flex;
  word-break: break-all;
  padding-right: 30px;
  font-size: 15px;
}

.extra-dwelling-section {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid lightgrey;
  flex-direction: row;
  justify-content: flex-start;
  flex: wrap;
  width: 100%;
  font-size: 15px;
  font-family: inherit;

}

.extra-dwelling-section-content {
  display: flex;
  padding-right: 30px;
  word-break: break-all;
  width: 80%;
}

.extra-dwelling-section-title {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  align-items: flex-start;
  color: grey;
}

.reviews-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-left: 155px;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
}


.review-user-info {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: grey;
}

.reviews-title {
  padding: 40px 0 20px 0;
  font-size: 19px;
  font-family: inherit;
}

.review-form-container {
  height: 360px;
  padding: 30px 0 30px 155px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
}

.review-form {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.review-rating-box {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0;
  font-family: inherit;
}

.review-rating {
  font-family: inherit;
}

.review-input {
  width: 75%;
  height: 68%;
  padding: 10px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
}

.review-form-button {
  width: 50%;
  height: 50px;
  margin-bottom: 20px;;
  background: #eeba30;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
}

.review-form-button:hover {
  border: 2px solid #363946;
}

.rating-title {
  font-size: 17px;
}


.dwelling-form-image {
  height: 700px;
  display: flex;
  justify-content: flex-end;

}

.dwelling-form-box {
  width: 388px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: white;
  box-sizing: border-box;
  color: #c7c69f;
  font-size: 16px;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
}

.dwelling-form {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dwelling-input {
  margin: 0 0 15px 0;
  height: 45px;
  width: 40%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: #363946;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #eeb67f;
  border-radius: 2px;
  font-family: inherit;
}

.dwelling-form-button {
  width: 90%;
  height: 50px;
  margin: 20px auto 60px auto;
  background: #eeba30;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
  box-shadow:
}

.dwelling-form-button:hover {
  border: 2px solid #363946;
}

.booking-form-container {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  min-width: 300px;
}

.booking-form-box {
  width: 50%;
  height: 360px;
  padding: 0 25px;
  border: 1px solid grey;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 360px;
}

.booking-form-dates {
  padding: 20px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
  width: 100%;
}

.booking-date-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

.booking-date-input {
  width: 100%;
  height: 30px;

}

.booking-guest-box {
  width: 100%;
}
.booking-guest-input {
  height: 30px;
  width: 100%
}

.booking-fees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.booking-form-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.booking-form-button {
  width: 80%;
  height: 50px;
  margin-bottom: 20px;;
  background: #eeba30;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
}

.booking-form-button:hover {
  border: 2px solid #363946;
}

.booking-index-container {
  display: flex;
  justify-content: center;
  padding: 80px;
  flex-wrap: wrap;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  color: #1e1b15;
}

.booking-box {
  height: 600px;
  width: 350px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 20px;
  border: 1px solid grey;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.booking-image {
  height: 35%;
  width: 100%;
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.booking-location {
  margin: 20px auto 60px auto;
  font-size: 26px;
  font-family: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.booking-dates-guest {
  margin: 0 auto 25px auto;
  font-size: 18px;
  text-align: center;
  color: inherit;
  font-family: grey;
}

.booking-title {
  font-size: 18px;
  color: inherit;
  margin-bottom: 60px;
}
