/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  outline: none;
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
}

.header-box {
  background: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #1e1b15;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  margin-left: 30px;
  width: 100px;
  height: auto;
}

.header-logo:hover {
  cursor: pointer;
}

.nav-button {
  display: flex;
  color: #1e1b15;
  margin: 0 20px 0 0;
  padding: 5px 5px 5px 5px;
  background: transparent;
  font-size: 15px;
  /*font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;*/
  font-family: Copperplate Gothic Light, sans-serif;
  border: none;
  outline: none;
  border: 1px solid transparent;
  font-weight: bold;
  filter: contrast(2) brightness(1.5);
}

.nav-bar-photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-button:hover {
  color: #464957;
  position: relative;
  top: 5px;
}

.home-container {
  filter: blur(5px);
}

.login-form-container {
  margin: 0 auto 20px auto;
  padding: 25px 25px 25px 25px;
  height: 560px;
  width: 450px;
  position: fixed;
  bottom: 20%;
  right: 30%;
  left: 30%;
  top: 10%;
  opacity: 1;
  box-shadow: 3px 3px 10px 5px #000;
  display: flex;
  justify-content: center;
  background: white;
  box-sizing: border-box;
  color: #1e1b15;
  font-size: 16px;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  outline: none;
  z-index: 99;
}

.login-input {
  margin: 0 auto 10px auto;
  height: 60px;
  width: 380px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: white;
  color: #1e1b15;
  padding: 10px 35px 10px 10px;
  border: 1px solid #363946;
  border-radius: 2px;
  font-family: inherit;
  outline: none;
}

.errors {
  color: #eeba30;
  font-family: inherit;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  list-style: none;
}

.profile-photo-button {
  width: 100px;
  height: 40px;
  font-family: Copperplate Gothic Light, sans-serif;
  border: none;
  margin: 20px auto 10px auto;
  background: #b0e2fb;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.form-button {
  width: 100%;
  height: 40px;
  margin: 20px auto 10px auto;
  /*background: #eeba30;*/
  background: #b0e2fb;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
  outline: none;
  font-family: Copperplate Gothic Light, sans-serif;
  border: none;
}

.form-button:hover {
  filter: contrast(120%);
}

.redirect-button {
  margin: 30px 0px auto 0px;
  height: 35px;
  width: 80px;
  color: #363946;
  border: 4px solid #b0e2fb;
  display: flex;
  justify-content: center;
  background-color: transparent;
  font-size: 14px;
  border-radius: 4px;
  font-family: inherit;
  outline: none;
}

.redirect-button:hover {
  filter: contrast(120%);
}

.redirect-statement {
  padding-top: 7px;
  color: #363946;
  width: 200px;
  margin: 30px 5px auto 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-family: inherit;
}

.redirect-box {
  border-top: 1px solid #c7c69f;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-form {
  margin-top: 15px;
}

.form-logo {
  width: 200px;
  height: auto;
}

.login-signup-statement {
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
  font-family: inherit;
}

.home-image-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -90px;
}

.home-image {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/86/13/e3/8613e3e693717bab025e6313ca1a8875.jpg) ;
  width: 100%;
  height: 75vh;
  display: flex;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -90px;
  filter: contrast(110%) brightness(120%);
}

.home-header {
  position: relative;
  font-weight: 700;
  font-size: 2.0vw;
  line-height: 36px;
  letter-spacing: -0.6px;
  color: white;
  padding: 8vw 0 0 6vw;
  font-family: Copperplate Gothic Light, sans-serif;
}

.dwelling-image-container {
  /*max-height: 100%;*/
  width: 100%;
  overflow: hidden;
}

.dwelling-image {
  width: 100%;
  max-height: 80vh;
  min-height: 60vh;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10px;
  object-fit: cover;
    filter: contrast(110%) brightness(120%);
}

.dwelling-page {
  display: flex;
  flex-direction: column;
  min-width: 980px;
}

.dwelling-info {
  display: flex;
  justify-content: flex-start;
}
.dwelling-details {
  display: flex;
  flex-direction: column;
  width: 76%;
  min-width: 600px;
  justify-content: center;
  flex-wrap: wrap;
}

.dwelling-details-info {
  padding-left: 155px;
}

.top-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: 30px;
  padding: 20px 0 20px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey
}

.top-dwelling-info {
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.top-host-info {
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: grey;
  width: 25%;
}

.host-thumbnail {
  height: 90px;
  width: 90px;
  border-radius: 50px;

}

.host-name {
  padding-bottom: 5px;
  color: grey;
}

.dwelling-title {
  font-size: 30px;
}

.location-and-ratings {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  color: grey;
  font-size: 18px;
}

.ratings {
  margin: 1px 0 0 30px;

}

.types {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: grey;
}

.type {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.about-this-listing {
  padding: 40px 0 40px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  flex: wrap;
  width: 100%;
}

.the-magic {
  padding-bottom: 20px;
  font-size: 22px;
}

.magic-content {
  display: flex;
  word-break: break-all;
  padding-right: 30px;
  font-size: 15px;
}

.extra-dwelling-section {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid lightgrey;
  flex-direction: row;
  justify-content: flex-start;
  flex: wrap;
  width: 100%;
  font-size: 15px;
  font-family: inherit;

}

.extra-dwelling-section-content {
  display: flex;
  padding-right: 30px;
  word-break: break-all;
  width: 80%;
  flex-direction: column;

}

.extra-dwelling-section-title {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  align-items: flex-start;
  color: grey;
}

.reviews-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-left: 155px;
  border-top: 1px solid lightgrey;
  box-sizing: border-box;
}


.review-user-info {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: grey;
  margin-right: 20px;
}

.review-image {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.reviews-title {
  padding: 40px 0 20px 0;
  font-size: 22px;
  font-family: inherit;
}

.review-date {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: grey;
}

.review-date-section {
  margin-right: 4px;
}

.review-form-container {
  height: 360px;
  padding: 30px 0 30px 155px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
}

.review-form {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.review-rating-and-errors {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 20px 0;
}

.review-rating-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.review-errors {
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
}
.rating-title {
margin-right: 10px;
}

.review-rating {
  font-family: inherit;
  outline: none;
  margin-right: 10px;
  background: url('http://res.cloudinary.com/dg8v2pvxf/image/upload/v1484359474/star-icon_cqaeqo.png');
}

.unclicked-star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: .5;
}

.clicked-star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.unclicked-star:hover {
  opacity: 1;
}


.review-input {
  width: 75%;
  height: 68%;
  padding: 10px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.review-form-button {
  width: 50%;
  height: 50px;
  margin-bottom: 20px;;
  /*background: #eeba30;*/
  background: #b0e2fb;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
  outline: none;
  font-family: Copperplate Gothic Light, sans-serif;
  font-weight: bold;
  border: none;

}

.review-form-button:hover {
  filter: contrast(120%);
}

.rating-title {
  font-size: 17px;
}

.dwelling-form-page {
  width: 100vw;
  height: 94vh;
  display: flex;
  justify-content: flex-end;
}

.dwelling-form-image {
  /*background-image: url(http://res.cloudinary.com/dg8v2pvxf/image/upload/v1486492166/beautiful-wallpapers-High-Resolution-Download9_u961gg.jpg);*/
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
}

.dwelling-form-box {
  width: 480px;
  height: 100%;
  position: fixed;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #363946;
  box-sizing: border-box;
  color: #white;
  font-size: 16px;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  opacity: .8;
  border: 1px solid #c7c69f;
}

.dwelling-form {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dwelling-input {
  margin: 0 0 15px 0;
  height: 45px;
  width: 40%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: #363946;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #b0e2fb;
  border-radius: 2px;
  font-family: inherit;
  outline: none;
}

.dwelling-input-long {
  margin: 0 0 15px 0;
  height: 45px;
  width: 90%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: #363946;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #b0e2fb;
  border-radius: 2px;
  font-family: inherit;
  outline: none;
}

.house-rules-input {
  margin: 0 0 15px 0;
  height: 60px;
  width: 90%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: #363946;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #b0e2fb;
  border-radius: 2px;
  font-family: inherit;
  outline: none;
}

.dwelling-about-this-input {
  margin: 0 0 15px 0;
  height: 110px;
  width: 90%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: #363946;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #b0e2fb;
  border-radius: 2px;
  font-family: inherit;
  outline: none;
}

.photo-button {
  width: 70%;
  height: 30px;
  margin: 0 auto 0 auto;
  background: #b0e2fb;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
  outline: none;
  font-family: Copperplate Gothic Light, sans-serif;
  font-weight: bold;
  border: none;
}

.dwelling-form-button {
  width: 90%;
  height: 50px;
  margin: 20px auto 60px auto;
  background: #b0e2fb;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
  outline: none;
  font-weight: bold;
  font-family: Copperplate Gothic Light, sans-serif;
  border: none;
}

.dwelling-form-button:hover {
   filter: contrast(2);
}

.photo-button:hover {
   filter: contrast(2);
}

.booking-form-container {
  /*width: 28%;*/
  width: 23%;
  min-width: 500px;
  position: relative;
  top: -60px;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  color: #1e1b15;
  box-sizing: border-box;
}

.booking-form-box {
  /*width: 58%;*/
  width: 70%;
  height: 500px;
  border: 1px solid lightgrey;
  z-index: 9999999999999999;
  box-sizing: border-box;
}

.booking-form-top {
  font-size: 22px;
  color: lightgrey;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  background: #1e1b15;
  width: 100%;
  height: 55px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.price-statement {
  display: flex;
  align-items: center;
}

.per-night-statement {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 450px;
  font-family: inherit;
  padding: 0 25px 25px 25px;
  box-sizing: border-box;
}

.booking-form-dates {
  padding: 30px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*height: 110px;*/
  width: 100%;
  font-family: inherit;
}

.booking-date-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 45%;
  font-family: inherit;
}

.booking-date-input {
  width: 100%;
  height: 30px;
  outline: none;
  font-family: inherit;
  border-radius: 5px;
}

.booking-guest-box {
  width: 100%;
  font-family: inherit;
}
.booking-guest-input {
  height: 30px;
  width: 100%;
  outline: none;
  font-family: inherit;
  border-radius: 5px;
}

.booking-fees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  font-family: inherit;
}

.booking-form-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
}

.booking-form-button {
  width: 80%;
  height: 50px;
  margin: 20px 0;
  /*background: #eeba30;*/
  background: #b0e2fb;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
  outline: none;
  font-family: Copperplate Gothic Light, sans-serif;
  font-weight: bold;
  border: none;
}
.delete-booking-button {
  width: 80%;
  height: 50px;
  background: #b0e2fb;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-family: inherit;
  outline: none;
  font-family: Copperplate Gothic Light, sans-serif;
  font-weight: bold;
  border: none;
}

.delete-booking-button:hover {
  filter: contrast(120%);
}

.booking-form-button:hover {
  filter: contrast(1.2);
}

.booking-index-container {
  display: flex;
  justify-content: center;
  padding: 80px;
  flex-wrap: wrap;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  color: #1e1b15;
}

.booking-box {
  height: 600px;
  width: 350px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 20px;
  border: 1px solid grey;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px 5px #000;
  border: 1px solid grey;

}

.booking-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.booking-image {
  height: 35%;
  width: 100%;
  /*filter: blur(2px);*/
/*-webkit-filter: blur(2px);*/
}

.booking-host-image-box {
  position: relative;
  top: -60px;
}

.booking-host-image {
  border-radius: 50px;
  height: 80x;
  width: 80px;
}

.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.booking-location {
  margin: 0 auto 60px auto;
  font-size: 26px;
  font-family: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.booking-dates-guest {
  margin: 0 auto 25px auto;
  font-size: 18px;
  text-align: center;
  color: inherit;
  font-family: grey;
}

.booking-title {
  font-size: 18px;
  color: inherit;
  margin-bottom: 30px;
}

.map {
  width: 500px;
}

.filter-container {
  /*font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;*/
  font-family: Copperplate Gothic Light, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter {
  width: 80%;
  margin: 10px;
  border: 2px solid #1e1b15;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.filter-label {
  width: 90%;
  text-align: left;
  margin: 0 20px 0 20px;
  font-size: 16px;
  font-family: inherit;
  font: #1e1b15;
}
.location-filter-box {
  width: 50%;
  border-right: 2px solid #1e1b15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.location-filter {
  width:90%;
  height: 40px;
  border-bottom: 1px solid #1e1b15;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0 20px 0 20px;
  color: black;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.price-filter-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.slider-box {
  width: 90%;
    margin: 0 20px 0 20px;

}

.price-filter-labels {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.slider-status {
  font-size: 16px;
  font-family: inherit;
  padding-right: 30px;
  font: #1e1b15;
}

.dwelling-index-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Magorian Regular",Georgia,Times,"Times New Roman",serif;
  color: #1e1b15;
}

.dwelling-box {
  height: 280px;
  width: 375px;
  min-width: 375px;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  margin: 10px;
  flex-direction: column;
  border: 1px solid grey;
  box-shadow: 3px 3px 10px 5px #000;
  transform: scale(.9);
}

.dwelling-index-image {
  height: 80%;
  width: 100%;
}

.dwelling-box:hover {
  /*opacity: .7;*/
  transform: scale(.95);
  cursor: pointer;
}

.dwelling-index-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;

}

.dwelling-index-price-location-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.dwelling-index-price {
  font-weight: bold;
  margin-right: 10px;
}

.index-rating {
  margin: 7px 0 0 10px;
}

.index-stars {
  height: 16px;
  width: 16px;
}
